.container

    .header-ecored
        h1 Glosario

    .jumbotron.bg-white
        p
            strong.mr-2 BLH: 
            | Banco de Leche Humana, el cual es una estrategia para la supervivencia neonatal e infantil,   mediante   la   promoción, protección y apoyo a la lactancia materna y el procesamiento, control de calidad  y suministro de la leche humana a los neonatos hospitalizados contribuyendo así a la  reducción de la desnutrición y  de la mortalidad neonatal e infantil.  
        hr

        p
            strong.mr-2 Cadena agroalimentaria:
            | las cadenas agroalimentarias cubren todas las etapas de la producción agropecuaria de alimentos, siendo el proceso de una serie de acontecimientos que van desde la producción a la transformación, la comercialización, la distribución y el consumo. Literalmente, “del campo a la mesa. (Organización de las Naciones Unidas para la Alimentación y la Agricultura, 2020).
        hr

        p
            strong.mr-2 Hemoglobina:
            | proteína presente en los glóbulos rojos, cuya misión fundamental es el transporte de oxígeno: lo capta a través de la sangre de los vasos capilares, en contacto con los alvéolos del pulmón, y lo libera a través de los capilares tisulares. Gobierno Nacional (2013).

        hr

        p
            strong.mr-2 Inocuidad: 
            | hace alusión al conjunto de características de los alimentos que garantizan su aptitud para el  consumo humano, que exigen el cumplimiento de una serie de condiciones y medidas necesarias durante la cadena agroalimentaria hasta el consumo y el aprovechamiento de los alimentos, asegurando que una vez ingeridos no representen un riesgo (biológico, físico o químico) apreciable para la salud. (Organización de las Naciones Unidas para la Alimentación y la Agricultura, 2020).

        hr

        p
            strong.mr-2 Inseguridad alimentaria
            | insuficiente ingestión de alimentos, que puede ser transitoria (cuando ocurre en épocas de crisis), estacional o crónica (cuando sucede de continuo).     

        hr

        p
            strong.mr-2 Intervalo intergenésico:
            | se refiere al período de tiempo comprendido entre dos nacidos vivos consecutivos. (Eustat, 2019)         

        hr

        p
            strong.mr-2 Suplementación:
            | se refiere al aporte de determinados nutrientes o mezclas de nutrientes al margen de los alimentos. (Organización Mundial de la Salud, 2020)       