.container
    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white
        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th Nombre del documento o material
                    th Tipo de material
                    th(style="width:160px") Enlace del recurso

            tbody
                tr
                    td Meza, J. J. (2017). Matemáticas financieras aplicadas (6.a ed.). Ecoe Ediciones
                    td PDF
                    td 
                        a(href="media/documentos/Matematicas-Financieras-Aplicadas-6ta-Edicion.pdf", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver
                tr
                    td Tello, L. B. (2019). Herramientas financieras y valoración de activos y pasivos financieros bajo NIIF. Santiago de Cali: Editorial Universidad Icesi.
                    td Biblioteca digital
                    td 
                        a(href="https://elibro-net.bdigital.sena.edu.co/es/ereader/senavirtual/130247?page=279", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver