.container
    .header-ecored
        h1 Material complementario

    .jumbotron.bg-white
        table.table.table-bordered.table-striped
            thead.thead-dark
                tr
                    th Nombre del documento o material
                    th Tipo de material
                    th(style="width:160px") Enlace del recurso

            tbody
                tr
                    td Congreso de la República. (2016). Ley No. 1804
                    td PDF
                    td 
                        a(href="media/documentos/LEY_1804_DEL_02_DE_AGOSTO_DE_2016.pdf", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver
                tr
                    td ICBF Institucional ICBF (2018). ENSIN 2015 - Contexto  
                    td Video Youtube
                    td 
                        a(href="https://youtu.be/wuSenbqCmeE ", target="_blank") <span class="fa fa-external-link" aria-hidden="true"></span> Ver