.container

    .header-ecored
        h1 4. Política de Estado para el Desarrollo Integral de la primera infancia de cero a siempre



    .card

        .card-body.p-5
            h2 4.1 Propósito

        img.card-img-top(src='assets/images/pages/tema-4/tema-41.svg')

        .card-body.p-5
            h2.mt-4 4.2 Principios rectores

        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/y4tZEYfZyfk', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        .card-body.p-5
            h2.mt-4 4.3 Conceptos propios de la primera infancia

            p.mt-4 Para efectos de la ley 1804 de 2016 se presentan las definiciones propias de la primera infancia, basadas en los acuerdos y desarrollos conceptuales de la política (Congreso de Colombia, 2016): 
            
            .card.mt-5.shadow-sm
                .card-header.bg-color-1
                    h3.card-header-title.text-white Desarrollo integral
                .card-body
                    p.text-center.my-4
                        img(src="assets/images/pages/tema-4/tema-43-1.png").img-fluid
                    p Proceso singular de transformaciones y cambios de tipo cualitativo y cuantitativo mediante el cual el sujeto dispone de sus características, capacidades, cualidades y potencialidades para estructurar progresivamente su identidad y su autonomía. 
                    P.mt-4 La interacción en el desarrollo integral contempla una amplia variedad de actores, contextos y condiciones significativas para el potenciamiento de las capacidades y de la autonomía progresiva. El desarrollo ocurre a lo largo de todo el ciclo vital y requiere de acciones de política pública que lo promuevan más allá de la primera infancia. 


            .card.mt-5.shadow-sm
                .card-header.bg-color-2
                    h3.card-header-title.text-white Realizaciones
                .card-body
                    
                    p Son las condiciones y estados que se materializan en la vida de cada niña y cada niño, y que hacen posible su desarrollo Integral. El Estado colombiano se compromete a través de esta política a trabajar para que cada niño y niña: 

                    .row.mt-4
                        .col-8
                            ul.bg-color-light
                                li
                                    span Cuente con padre, madre, familiares o cuidadoras principales que le acojan y pongan en práctica pautas de crianza que favorezcan su desarrollo integral. 
                                li
                                    span Viva y disfrute del nivel más alto posible de salud. 
                                li
                                    span Goce y mantenga un estado nutricional adecuado. 
                                li
                                    span Crezca en entornos que favorecen su desarrollo. 
                                li
                                    span Construya su identidad en un marco de diversidad. 
                                li
                                    span Exprese sentimientos, ideas y opiniones en sus entornos cotidianos y estos sean tenidos en cuenta. 
                                li
                                    span Crezca en entornos que promocionen y garanticen sus derechos y actúen ante la exposición a situaciones de riesgo o vulneración. 


                        .col-4
                            p.text-center
                                img(src="assets/images/pages/tema-4/tema-43-2.png").img-fluid

            .card.mt-5.shadow-sm
                .card-header.bg-color-3
                    h3.card-header-title.text-white Entornos
                .card-body
                    p.text-center.my-4
                        img(src="assets/images/pages/tema-4/tema-43-3.png").img-fluid
                    p Son los espacios físicos, sociales y culturales diversos en los que los niños y las niñas se desenvuelven, con los cuales interactúan, en los que se materializan las acciones de política pública. Estos son determinantes para su desarrollo integral.      
                    p.mt-4 Como entornos están el hogar, el entorno de salud, el educativo, el espacio público y otros propios de cada contexto cultural y étnico.  
                    p.mt-4 El Estado colombiano se compromete a que en ellos se promueva la protección de sus derechos, se garantice su integridad física, emocional y social, y se promueva el desarrollo integral, de manera tal que los niños y las niñas puedan hacer un ejercicio pleno de sus derechos.  

            .card.mt-5.shadow-sm.mb-0
                .card-header.bg-color-4
                    h3.card-header-title.text-white Atención integral
                .card-body
                    p.text-center.my-4
                        img(src="assets/images/pages/tema-4/tema-43-4.png").img-fluid
                    p Es el conjunto de acciones intersectoriales, intencionadas, relacionales y efectivas encaminadas a asegurar que en cada uno de los entornos en los que transcurre la vida de los niños y niñas, existan las condiciones humanas, sociales y materiales para garantizar la promoción y potenciación de su desarrollo. Estas acciones son planificadas, continuas y permanentes. Involucran aspectos de carácter técnico, político, programático, financiero y social, y deben darse en los ámbitos nacional y territorial.                       

        .card-body.p-5
            h2 4.4 Ámbito de aplicación

            p.text-center.my-5
                img(src="assets/images/pages/tema-4/tema-44.svg")            



            h2.mt-6 4.5 Competencias del ICBF

            .row.mt-5
                .col
                    p La Comisión Intersectorial para la Atención Integral de la Primera Infancia (CIPI), ejerce funciones relacionadas con la coordinación, articulación y gestión intersectorial de la política de estado para el desarrollo integral de la primera infancia de cero a siempre, en el marco del sistema nacional de bienestar familiar, la implementación territorial se realizará bajo los principios definidos en dicha comisión. 


                    p.mt-4 La ley 1804 de 2016, en su artículo 19 establece las funciones del #[strong Instituto Colombiano de Bienestar Familiar]. 

                    p.mt-4 En el marco de la política, el rol del ICBF, está definido por su naturaleza institucional y por el doble papel que le asigna la Ley 1098 de 2006. 

                .col-auto
                    img(src="assets/images/pages/tema-4/logo-icbf.svg").img-fluid


            p.mt-5 Como #[span.text-color-1 ente rector], articulador y coordinador del Sistema Nacional de Bienestar Familiar (SNBF) le corresponde:
            
            .row.justify-content-center.align-items-start.mt-5
                .col-12.col-lg-7
                    p.header-step
                        span.header-step-number #[strong.text-color-1 a.]
                        span.header-step-title
                            | Liderar la implementación territorial de la Política de Estado para el desarrollo integral de la primera infancia de cero a siempre a la luz de la RIA. 
                    hr
                    p.header-step
                        span.header-step-number.text-color-1 #[strong.text-color-1 b.]
                        span.header-step-title
                            strong
                            | Promover la participación y la movilización social en torno a la protección integral de la primera infancia como prioridad social, política, técnica y financiera. 
                    hr            


            p.mt-5 Como #[span.text-color-1 entidad encargada], de generar línea técnica y prestar servicios directos a la población le corresponde: 
            
            .row.justify-content-center.align-items-start.mt-5
                .col-12.col-lg-7
                    p.header-step
                        span.header-step-number #[strong.text-color-1 a.]
                        span.header-step-title
                            | Armonizar los lineamientos de los diferentes servicios a través de los cuales atiende población en primera infancia, de acuerdo con la política de estado para el desarrollo integral de la primera infancia de cero a siempre.
                    hr
                    p.header-step
                        span.header-step-number.text-color-1 #[strong.text-color-1 b.]
                        span.header-step-title
                            strong
                            | Organizar la implementación de los servicios de educación inicial con enfoque de atención integral de acuerdo con los referentes técnicos para tal fin y en el marco de la política de estado para el desarrollo integral de la primera infancia de cero a siempre.
                    hr

                    p.header-step
                        span.header-step-number.text-color-1 #[strong.text-color-1 c.]
                        span.header-step-title
                            strong
                            | Fiscalizar la operación de las modalidades de atención a la primera infancia bajo su responsabilidad, en coordinación con el departamento para la prosperidad social. 
                    hr                                