.container

    .header-ecored
        h1 1. Matemáticas Financieras



    .card


        img.card-img-top(src='assets/images/pages/tema-1/tema-11.svg')

        .card-body.p-5

            h2#tema-11.mt-4 1.1 Concepto

            p.mt-4 Es el campo de las matemáticas que aplica un ente económico para el análisis, la valoración de los mercados financieros y el valor del dinero en el tiempo, mediante la aplicación de cálculos aritméticos. 

            p.mt-4.text-center

                img(src='assets/images/pages/tema-1/tema-12.svg').img-fluid

            p.mt-4 Es una herramienta muy importante en el ámbito empresarial, la cual ha tomado fuerza con la implementación de las Normas Internacionales de Información Financiera. Su finalidad es contribuir en la toma de decisiones de forma útil, transparente y confiable sobre los proyectos, inversiones, rentabilidad y amortización de deudas.
            
            p.mt-4 De acuerdo con la convergencia de Normas Internacionales de Información Financiera, mediante la expedición de la Ley 1314 de 2009, se presentan cambios en la valoración de los instrumentos financieros, donde se tiene en cuenta los criterios de medición de costo amortizado y valor razonable, utilizando el método de interés efectivo.
        
        .card-body.p-5

            h2#tema-12.mt-4 1.2 Tasas de Interés

            p.mt-4 Antes de abordar el tipo de tasas de interés, los invito a analizar los conceptos básicos con el fin de avanzar significativamente en las temáticas que le permitan desarrollar esta unidad.

            p.mt-4.text-center

                img(src='assets/images/pages/tema-1/tema-13.png').img-fluid
            
            h3.mt-4 1.2.1 Interés simple

            p.mt-4 Es el interés que se genera en un periodo determinado. Se calcula sobre el capital inicial y no es capitalizable; es decir, no se acumula con el capital para originar nuevos intereses.

            .mt-4

                div.p-3.bg-azul.mt-4.rounded.col-11.m-auto.shadow

                    .row

                        .col-auto

                            img(src='assets/images/icons/icon-1.svg').img-fluid

                        .col

                            p.text-white.mt-2 #[strong Ejemplo 1:] Carolina invierte hoy $ 12.000.000 en una cuenta que paga el 9% simple anual, ¿qué cantidad podrá retirar dentro de 3 años?

                .bg-azul-cielo.p-4.col-10.m-auto.rounded

                    p.text-dark.mt-3 Para desarrollar el ejercicio, es importante tener en cuenta los datos suministrados; por ello, no olvide analizar la información y observar que se tiene la necesidad de hallar el valor futuro, mediante el interés simple. Recordemos que este no capitaliza como sucede en el interés compuesto.

                    .text-center.mt-4

                        img(src='assets/images/pages/tema-1/tema-14.png').img-fluid

                    p.text-dark.mt-5 #[strong.text-color-4 Respuesta:] Carolina con una inversión inicial de $12.000.000 recibirá $15.240.000, dentro de tres años aplicando interés simple.

            .mt-4

                div.p-3.bg-azul.mt-4.rounded.col-11.m-auto.shadow

                    .row

                        .col-auto

                            img(src='assets/images/icons/icon-1.svg').img-fluid

                        .col

                            p.text-white.mt-2 #[strong Ejemplo 2:] Andrés recibirá en 10 meses $35.000.000, correspondientes a una inversión realizada. Si la tasa de interés que le están pagando es del 2,5% mensual, ¿Cuál es el valor inicial de la inversión, aplicando el tipo de interés simple?

                .bg-azul-cielo.p-4.col-10.m-auto.rounded

                    p.text-dark.mt-3 De acuerdo con el análisis, se observa que se debe determinar el valor presente o actual de la inversión realizada, utilizando el tipo de interés compuesto; por lo tanto, se usará la siguiente fórmula:

                    .text-center.mt-4

                        img(src='assets/images/pages/tema-1/tema-15.png').img-fluid

                    p.text-dark.mt-5 #[strong.text-color-4 Respuesta:] para obtener un monto de $35.000.000 durante 10 meses a la tasa del 2,5% de invertir $28.000.000.
        
        .card-body.p-5

            h3.mt-4 1.2.2 Interés compuesto

                p.mt-4 Interés generado en un periodo de tiempo, con la característica especial de ser capitalizable; es decir, se acumula, con el capital, presentando un interés mayor al final del periodo.
            

            .mt-4

                div.p-3.bg-curuva.mt-4.rounded.col-11.m-auto.shadow

                    .row

                        .col-auto

                            img(src='assets/images/icons/icon-1.svg').img-fluid

                        .col

                            p.text-white.mt-2 #[strong Ejemplo 1:] Carolina invierte hoy $ 12.000.000 en una cuenta que paga el 9% compuesto anual, ¿qué cantidad podrá retirar dentro de 3 años?

                .bg_curuva_claro.p-4.col-10.m-auto.rounded

                    p.text-dark.mt-3 El enunciado anterior refleja la necesidad de hallar el valor futuro, teniendo en cuenta que se conoce el valor inicial de la inversión y se desea saber el valor final dentro de 3 años. Recuerde que la tasa de interés se manejará en decimales para efectos de su cálculo.

                    .text-center.mt-4

                        img(src='assets/images/pages/tema-1/tema-16.png').img-fluid

                    p.text-dark.mt-5 #[strong.text-color-1 Respuesta:] Carolina con una inversión inicial de $12.000.000 recibirá $15.540.348, dentro de tres años aplicando interés compuesto.

                    p.text-dark.mt-3 Así mismo se puede obtener el Valor Futuro (VF), utilizando la fórmula financiera de Excel llamada VF, la cual se presenta a continuación:

                    .text-center.mt-4

                        img(src='assets/images/pages/tema-1/tema-17.svg').img-fluid
                    
                    p.mt-5.text-dark #[strong VF(tasa;nper;pago;(va);tipo)], teniendo en cuenta que:

                    .mt-4

                        .col-10.m-auto

                            p.text-dark.mb-0 #[strong.text-color-1 Tasa:] es la tasa de interés del período acordado.
                            p.text-dark.mb-0 #[strong.text-color-1 Nper:] es el número total de períodos.
                            p.text-dark.mb-0 #[strong.text-color-1 Pago:] es el pago efectuado en cada período.
                            p.text-dark.mb-0 #[strong.text-color-1 Va:] es el valor actual o suma total del valor de una serie de pagos.
                            p.text-dark.mb-0 #[strong.text-color-1 Tipo:] es un valor lógico. Se registra "0" para una tasa vencida y "1" para tasa anticipada.

                    p.mt-5.text-dark Es importante señalar que, para realizar los cálculos en Excel, debe estar registrada información, con el fin de ser tomada de cada una de las celdas y de esta manera refleje la formulación para su respectiva interpretación.

            .mt-4

                div.p-3.bg-curuva.mt-4.rounded.col-11.m-auto.shadow

                    .row

                        .col-auto

                            img(src='assets/images/icons/icon-1.svg').img-fluid

                        .col

                            p.text-white.mt-2 #[strong Ejemplo 2:] Andrés recibirá en 10 meses $35.000.000, correspondientes a una inversión realizada. Si la tasa de interés que le están pagando es del 2,5% mensual, ¿Cuál es el valor inicial de la inversión, aplicando el tipo de interés compuesto?

                .bg_curuva_claro.p-4.col-10.m-auto.rounded

                    p.text-dark.mt-3 De acuerdo con el análisis, se observa que se debe determinar el valor presente o actual de la inversión realizada, utilizando el tipo de interés compuesto; por lo tanto, se usará la siguiente fórmula:

                    .text-center.mt-4

                        img(src='assets/images/pages/tema-1/tema-18.png').img-fluid

                    p.text-dark.mt-5 #[strong.text-color-1 Respuesta:] para obtener un monto de $35.000.000 durante 10 meses, a la tasa del 2,5%, debe invertir $27.341.944,06. 

                    p.text-dark.mt-3 También se puede obtener el Valor Actual (VA), utilizando la fórmula financiera de Excel llamada VA, la cual se presenta a continuación:

                    .text-center.mt-4

                        img(src='assets/images/pages/tema-1/tema-19.svg').img-fluid
                    
                    p.mt-5.text-dark #[strong VA(tasa;nper;pago;(vf);tipo)], teniendo en cuenta que:

                    .mt-4

                        .col-10.m-auto

                            p.text-dark.mb-0 #[strong.text-color-1 Tasa:] es la tasa de interés del período acordado.
                            p.text-dark.mb-0 #[strong.text-color-1 Nper:] es el número total de períodos.
                            p.text-dark.mb-0 #[strong.text-color-1 Pago:] es el pago efectuado en cada período.
                            p.text-dark.mb-0 #[strong.text-color-1 Vf:]  valor futuro o suma total de lo que se desea obtener después de efectuar le último pago.
                            p.text-dark.mb-0 #[strong.text-color-1 Tipo:] es un valor lógico. Se registra "0" para una tasa vencida y "1" para tasa anticipada.

            .mt-4

                div.p-3.bg-curuva.mt-4.rounded.col-11.m-auto.shadow

                    .row

                        .col-auto

                            img(src='assets/images/icons/icon-1.svg').img-fluid

                        .col

                            p.text-white.mt-2 #[strong Ejemplo 3:] María realiza una inversión por valor de $ 750.000, por un periodo de 3 años. Al finalizar el tiempo le entregan $ 868.219. ¿Cuál es la tasa de interés compuesto aplicada?

                .bg_curuva_claro.p-4.col-10.m-auto.rounded

                    .text-center.mt-4

                        img(src='assets/images/pages/tema-1/tema-20.png').img-fluid

                    p.text-dark.mt-5 #[strong.text-color-1 Respuesta:]  la tasa aplicada en la inversión es del 5% anual.

                    p.text-dark.mt-3 Para hallar el interés (i), en Excel se utiliza la fórmula financiera llamada Tasa, la cual se presenta a continuación:

                    .text-center.mt-4

                        img(src='assets/images/pages/tema-1/tema-21.svg').img-fluid
                    
                    p.mt-5.text-dark #[strong tasa(nper;pago;va;(vf);tipo)], teniendo en cuenta que:

                    .mt-4

                        .col-10.m-auto

                            p.text-dark.mb-0 #[strong.text-color-1 Nper:] es el número total de períodos.
                            p.text-dark.mb-0 #[strong.text-color-1 Pago:] es el número total de períodos.
                            p.text-dark.mb-0 #[strong.text-color-1 Va:] es el valor actual o suma total del valor de una serie de pagos.
                            p.text-dark.mb-0 #[strong.text-color-1 Vf:]  valor futuro o suma total de lo que se desea obtener después de efectuar le último pago.
                            p.text-dark.mb-0 #[strong.text-color-1 Tipo:] es un valor lógico. Se registra "0" para una tasa vencida y "1" para tasa anticipada.


            .mt-4

                div.p-3.bg-curuva.mt-4.rounded.col-11.m-auto.shadow

                    .row

                        .col-auto

                            img(src='assets/images/icons/icon-1.svg').img-fluid

                        .col

                            p.text-white.mt-2 #[strong Ejemplo 4:] Sofía realiza un préstamo de $ 2.000.000, Al final del periodo paga $ 3.443.143, la tasa cobrada es del 2,5% mensual. Hallar el tiempo del préstamo

                .bg_curuva_claro.p-4.col-10.m-auto.rounded

                    p.text-dark.mt-4 Teniendo en cuenta la fórmula principal, se realiza el proceso para despejarla; por ende, se utilizará la siguiente:

                    .text-center.mt-4

                        img(src='assets/images/pages/tema-1/tema-22.png').img-fluid

                    p.text-dark.mt-5 #[strong.text-color-1 Respuesta:]  el tiempo del préstamo es de 22 meses.

                    p.text-dark.mt-3 Para hallar el periodo (n), en Excel se utiliza la fórmula financiera llamada Nper, la cual se presenta a continuación:

                    .text-center.mt-4

                        img(src='assets/images/pages/tema-1/tema-23.svg').img-fluid
                    
                    p.mt-5.text-dark #[strong Nper(nper;pago;va;(vf);tipo)], teniendo en cuenta que:

                    .mt-4

                        .col-10.m-auto

                            p.text-dark.mb-0 #[strong.text-color-1 Tasa:] es la tasa de interés del período acordado.
                            p.text-dark.mb-0 #[strong.text-color-1 Pago:] es el número total de períodos.
                            p.text-dark.mb-0 #[strong.text-color-1 Va:] es el valor actual o suma total del valor de una serie de pagos.
                            p.text-dark.mb-0 #[strong.text-color-1 Vf:]  valor futuro o suma total de lo que se desea obtener después de efectuar le último pago.
                            p.text-dark.mb-0 #[strong.text-color-1 Tipo:] es un valor lógico. Se registra "0" para una tasa vencida y "1" para tasa anticipada.

        .card-body.p-5

            h2#tema-13.mt-4 1.3 Tasa nominal, periódica y efectiva

                p.mt-4.text-dark Para aplicar adecuadamente las matemáticas financieras en los diferentes hechos económicos que se presentan en una empresa, surge la necesidad de identificar los conceptos y políticas para realizar los cálculos aritméticos. En el desarrollo de este proceso, es importante diferenciar las tasas de interés nominal, efectiva y periódica, las cuales pueden presentarse de forma anticipada o vencida; por lo tanto, a continuación, se relacionan las siguientes definiciones:
            
            .mt-5

                .mb-3

                    .row.col-11.m-auto

                        .col-auto

                            img(src='assets/images/icons/icon-2.svg').img-fluid
                        
                        .col.p-4.bt.bb.border-color-1.bg_curuva_claro_2

                            h3.text-color-1 Tasa nominal

                            p.text-dark.mt-2 Tasa que se genera en un periodo de tiempo y que no capitaliza; por lo tanto, se dice que se asemeja al interés simple. (Vidaurri, 2017)

                .mb-3

                    .row.col-11.m-auto

                        .col-auto

                            img(src='assets/images/icons/icon-3.svg').img-fluid
                        
                        .col.p-4.bt.bb.border-color-1.bg_curuva_claro_2

                            h3.text-color-1 Tasa efectiva

                            p.text-dark.mt-2 Tasa que efectivamente se reconoce en la transacción financiera. Es capitalizable en el periodo de tiempo, haciendo referencia al interés compuesto. (Vidaurri, 2017)
                
                .mb-3

                    .row.col-11.m-auto

                        .col-auto

                            img(src='assets/images/icons/icon-4.svg').img-fluid
                        
                        .col.p-4.bt.bb.border-color-1.bg_curuva_claro_2

                            h3.text-color-1 Tasa periódica

                            p.text-dark.mt-2 Hace referencia al periodo de capitalización en el cual se realiza la operación financiera, la cual puede ser: diaria, mensual, bimestral, trimestral, cuatrimestral semestral, anual, etc. (Vidaurri, 2017)

                
                .mb-3

                    .row.col-11.m-auto

                        .col-auto

                            img(src='assets/images/icons/icon-5.svg').img-fluid
                        
                        .col.p-4.bt.bb.border-color-1.bg_curuva_claro_2

                            h3.text-color-1 Tasa anticipada y vencida

                            p.text-dark.mt-2 Como se había mencionado, las tasas de interés se presentan de forma anticipada o vencida. A continuación, se relaciona el significado de cada una:

                            .pl-4.mt-3

                                p.text-dark.mb-2 #[strong.text-color-1 - Anticipada (A):] se calcula el interés de forma anticipada en el respectivo periodo. (Vidaurri, 2017)

                                p.text-dark #[strong.text-color-1 - Vencida (V):] se calcula el interés de forma vencida en el periodo. (Vidaurri, 2017)

            p.mt-5.text-dark Para aplicar los tipos de tasas de interés es importante conocer los periodos de capitalización, que se reconocen de la siguiente manera:

            .mt-4

                .col-10.m-auto.text-center

                    img(src='assets/images/pages/tema-1/tema-24.svg').img-fluid
            
            h3.text-color-4.mt-5 Equivalencia de tasas

            p.text-dark.mt-4 Hace referencia a la igualdad que debe existir entre el periodo de capitalización y el periodo de tiempo; para ejemplarizar, si la tasa se presenta de forma trimestral, el periodo debe darse de igual manera. Por lo tanto, de acuerdo con la operación se realizará la conversión de tasas con el fin de lograr su equivalencia (Vidaurri, 2017).

            p.text-dark.mt-3 Para profundizar en la temática, recuerde explorar en la biblioteca del Servicio Nacional de Aprendizaje (SENA), donde encuentra libros de apoyo. A continuación, se relaciona el libro Matemáticas Financieras, que fue utilizado para la definición de los conceptos anteriormente expuestos, para su revisión:

            .text-center.mt-4.mb-5

                .col-10.m-auto.rounded.shadow-sm.p-5.bg_curuva_gradient

                    .row

                        .col-3

                            h1.text-center.text-color-1.mt-3 Sitio #[br] Web
                        
                        .col-6

                            p.text-dark.text-left.mb-3 #[strong Vidaurri, Hector. (2017). Matemáticas Financieras. Cengage Learning.]

                            p.text-dark.text-left #[a(href="http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=3788") #[u http://www.ebooks7-24.com.bdigital.sena.edu.co/?il=3788]]
                        
                        .col-3

                            img(src='assets/images/pages/tema-1/tema-25.svg').img-fluid
                
            br

            h2.text-color-4.mt-5.mb-3 Fórmulas

            .mt-4.text-center

                .col-10.m-auto

                    #collapsable

                        #accordionExample.accordion
                            .card
                                #headingOne.card-header
                                    h2.mb-0
                                        button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapseOne', aria-expanded='true', aria-controls='collapseOne')
                                            h2.mb-0.collapsable-title.text-color-1 1. Conversión de Tasa Efectiva a Tasa Efectiva en periodos diferentes.
                                #collapseOne.collapse.show(aria-labelledby='headingOne', data-parent='#accordionExample')
                                    .card-body.bg_curuva_claro_2
                                        
                                        .text-center

                                             img(src='assets/images/pages/tema-1/tema-26.svg').img-fluid
                            .card
                                #headingTwo.card-header
                                    h2.mb-0
                                        button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapseTwo', aria-expanded='false', aria-controls='collapseTwo')
                                            h2.mb-0.collapsable-title.text-color-1 2. Conversión de Tasa efectiva a Nominal.
                                #collapseTwo.collapse(aria-labelledby='headingTwo', data-parent='#accordionExample')
                                    .card-body.bg_curuva_claro_2
                                        
                                        .text-center

                                             img(src='assets/images/pages/tema-1/tema-27.svg').img-fluid

                            .card
                                #headingThree.card-header
                                    h2.mb-0
                                        button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapseThree', aria-expanded='false', aria-controls='collapseThree')
                                            h2.mb-0.collapsable-title.text-color-1 3. Conversión de Tasa Nominal vencida a Efectiva.
                                #collapseThree.collapse(aria-labelledby='headingThree', data-parent='#accordionExample')
                                    .card-body.bg_curuva_claro_2
                                        
                                        .text-center

                                             img(src='assets/images/pages/tema-1/tema-28.svg').img-fluid

                            .card
                                #headingFour.card-header
                                    h2.mb-0
                                        button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapseFour', aria-expanded='false', aria-controls='collapseFour')
                                            h2.mb-0.collapsable-title.text-color-1 4. Conversión de tasa nominal anticipada a efectiva.
                                #collapseFour.collapse(aria-labelledby='headingFour', data-parent='#accordionExample')
                                    .card-body.bg_curuva_claro_2
                                        
                                        .text-center

                                             img(src='assets/images/pages/tema-1/tema-29.svg').img-fluid

                            .card
                                #headingFive.card-header
                                    h2.mb-0
                                        button.btn.btn-link(type='button', data-toggle='collapse', data-target='#collapseFive', aria-expanded='false', aria-controls='collapseFive')
                                            h2.mb-0.collapsable-title.text-color-1 5. Conversión de tasa nominal a otra tasa nominal.
                                #collapseFive.collapse(aria-labelledby='headingFive', data-parent='#accordionExample')
                                    .card-body.bg_curuva_claro_2
                                        
                                        p.text-dark.text-left Para convertir una tasa nominal a otra nominal, simplemente se multiplica o divide dependiendo de las condiciones. Una forma de realizar la conversión es, primero, hallar la Nominal anual, y después, dividir en el periodo al cual se quiere llegar.

                                        h3.text-color-1.mt-4.text-left Pasos

                                        ol

                                            li.text-dark.text-left Hallar la tasa anual.
                                            li.text-dark.text-left Luego, hallar el periodo buscado.
                                        
                                        p.text-dark.mt-4.text-left #[strong.text-color-1 Ejemplo:] se tiene una tasa 12% Nominal Trimestral (NT), se solicita hallar la tasa Nominal Anual (NA).

                                        p.text-dark.mt-5.text-left #[strong n] = 12 * 4

                                        p.text-dark.mt-4.text-left #[strong n] = 48% Nominal Anual (NA)

                                        p.text-dark.text-left.mt-5 Se multiplica por cuatro (4), teniendo que son los trimestres de un año.

                            
        .card-body.p-5

            h2#tema-14.mt-4 1.4 Tabla de amortización

            p.text-dark.mt-4 Es una matriz que presenta las cuotas periódicas de un préstamo, teniendo en cuenta el capital inicial, los intereses generados y el abono que se realiza, conforme al acuerdo entre deudor y acreedor (Meza, 2017).

            p.text-dark.mt-4 Para elaborar la tabla de amortización, es importante analizar los siguientes conceptos:

            .text-center.mt-5

                .col-10.m-auto

                    img(src='assets/images/pages/tema-1/tema-30.png').img-fluid
            
            .mt-4

                div.p-3.bg-azul.mt-4.rounded.col-11.m-auto.shadow

                    .row

                        .col-auto

                            img(src='assets/images/icons/icon-1.svg').img-fluid

                        .col

                            p.text-white.mt-2 #[strong Ejemplo 1:] la siguiente tabla de amortización presenta el método francés, donde se establece la cuota fija en el periodo de pago acordado.

                .bg-azul-cielo.p-4.col-10.m-auto.rounded

                    p.text-dark.mt-3 La empresa Supercueros SAS, realiza un préstamo por valor de $ 12.000.000, a una tasa del 1,7% EM, por un periodo de tiempo de 6 meses.

                    .text-center.mt-4

                        img(src='assets/images/pages/tema-1/tema-31.svg').img-fluid.mb-3

                        img(src='assets/images/pages/tema-1/tema-32.svg').img-fluid

                    h3.mt-5 Procedimiento

                    ol.mt-4

                        li.text-dark.mb-4 El valor de la cuota fija se calcula aplicando la siguiente fórmula:

                            .text-center.mt-4

                                img(src='assets/images/pages/tema-1/tema-33.png').img-fluid
                        
                        li.text-dark.mb-4 El interés se calcula multiplicando el saldo anterior del préstamo por la tasa acordada.

                        li.text-dark.mb-4 La amortización se determina restando el valor de la cuota, menos el interés.

                        li.text-dark.mb-4 El saldo se obtiene restando el saldo anterior, menos el valor de la amortización. Así mismo, se puede obtener el valor de la cuota fija, utilizando la fórmula financiera de Excel llamada PAGO, la cual se presenta a continuación:

                            .text-center.mt-5

                                img(src='assets/images/pages/tema-1/tema-34.svg').img-fluid

                    p.text-left.mt-5.text-dark #[strong PAGO(tasa;nper;va;vf,tipo)], teniendo en cuenta que:
                    
                    .mt-4

                        .col-10.m-auto

                            p.text-dark.mb-0 #[strong.text-color-4 Tasa:] es la tasa acordada al adquirir la obligación.
                            p.text-dark.mb-0 #[strong.text-color-4 Nper:] es el número de períodos.
                            p.text-dark.mb-0 #[strong.text-color-4 Va:] Valor actual( valor del préstamo)
                            p.text-dark.mb-0 #[strong.text-color-4 Vf:] Valor futúro.
                            p.text-dark.mb-0 #[strong.text-color-4 Tipo:] es un valor lógico. Se registra "0" para una tasa vencida y "1" para tasa anticipada.


            .mt-4

                div.p-3.bg-azul.mt-4.rounded.col-11.m-auto.shadow

                    .row

                        .col-auto

                            img(src='assets/images/icons/icon-1.svg').img-fluid

                        .col

                            p.text-white.mt-2 #[strong Ejemplo 2:]  teniendo en cuenta la información del ejercicio anterior, se supone un periodo de gracia de 2 meses.

                .bg-azul-cielo.p-4.col-10.m-auto.rounded

                    .text-center

                        img(src='assets/images/pages/tema-1/tema-35.svg').img-fluid.mb-3

                        img(src='assets/images/pages/tema-1/tema-36.svg').img-fluid

                    h3.mt-5 Procedimiento

                    ol.mt-4

                        li.text-dark.mb-4 Teniendo en cuenta que no hay cuota, se calculan los intereses, incrementando el saldo final.

                        li.text-dark.mb-4 Se calcula la cuota a partir del tercer mes, utilizando la fórmula de cuota fija, analizada en el ejercicio anterior. Se tiene en cuenta el número de periodos faltantes y el último saldo, con el fin de que coincida con el tiempo del préstamo.

                        li.text-dark.mb-4 Finalmente, se procede a elaborar la tabla, teniendo en cuenta el procedimiento realizado en la tabla de amortización de cuota fija.


            .mt-4

                div.p-3.bg-azul.mt-4.rounded.col-11.m-auto.shadow

                    .row

                        .col-auto

                            img(src='assets/images/icons/icon-1.svg').img-fluid

                        .col

                            p.text-white.mt-2 #[strong Ejemplo 3:] continuamos con el ejercicio anterior, se presenta un abono a capital.

                .bg-azul-cielo.p-4.col-10.m-auto.rounded

                    .text-center

                        img(src='assets/images/pages/tema-1/tema-37.svg').img-fluid.mb-3

                        img(src='assets/images/pages/tema-1/tema-38.svg').img-fluid

                    h3.mt-5 Procedimiento

                    ol.mt-4

                        li.text-dark.mb-4 Se calcula la cuota de igual forma como en el ejemplo 1, mediante cuota fija o pagos iguales.

                        li.text-dark.mb-4 De acuerdo con el mes y valor del abono, se suma el valor del abono a la cuota.

                        li.text-dark.mb-4 Se calcula nuevamente la cuota, teniendo en cuenta los periodos faltantes y el último saldo del préstamo.

        .card-body.p-5

            h2#tema-15.mt-4 1.5 Alternativas de inversión

            .row

                .col

                    p.text-dark-mt-5.mb-3 Desde el punto de vista financiero, una inversión, es la asignación de recursos en el presente con el fin de obtener unos beneficios en el futuro (Vélez, 2003). Así, se puede concebir como inversión, no sólo el hecho de desembolsar una determinada cantidad de dinero sino también, por ejemplo, el tiempo que alguien dedica a formarse en una universidad.

                    p.text-dark-mt-4.mb-3 Las decisiones de inversión son muy importantes, pues implican la asignación de grandes sumas de dinero y por un plazo largo (García, 1998). Estas decisiones pueden significar el éxito o fracaso de una empresa o de un inversionista. Son importantes también, porque resulta difícil retractarse ante una decisión de esta índole, en contraste con otras decisiones financieras como las de financiación o las de reparto de utilidades.

                    p.text-dark-mt-4.mb-3 Para tomar esta importante decisión de inversión, el inversionista debe contar:

                .col-auto.text-center

                    img(src='assets/images/pages/tema-1/tema-39.svg').img-fluid


            .mt-5

                .mb-3.bt.bb.border-color-1.p-3

                    .row.col-12.m-auto

                        .col-auto

                            img(src='assets/images/icons/icon-6.svg').img-fluid
                        
                        .col.p-4.bg_curuva_claro_2

                            p.text-dark.mt-2 Con una tasa de interés que le sirva como referencia para poder decidir si invierte o no. Esta tasa de interés se conoce como tasa de oportunidad del inversionista, es aquella tasa máxima que podría obtener dentro de las diversas posibilidades que se le presentan para invertir su dinero. lación con todas o algunas de las formas de sociedad que regula este Código.

                .mb-5.bt.bb.border-color-1.p-3

                    .row.col-12.m-auto

                        .col-auto

                            img(src='assets/images/icons/icon-7.svg').img-fluid
                        
                        .col.p-4.bg_curuva_claro_2

                            p.text-dark.mt-2 Con técnicas o métodos de análisis que le permitan comprobar que con la inversión que hace en el presente y los beneficios futuros, se va a ganar, al menos, su tasa de oportunidad (Baca, 1994).
            
            p.text-dark.mt-5 Dentro las alternativas de inversión que se desarrollan en esta unidad encontramos: valor presente neto (VPN) y la tasa interna de retorno (TIR).
    
        .bg-azul-cielo.mt-5.p-5

            h3.mt-4 1.5.1 Valor presente neto (VPN)

            p.text-dark.mt-4 El valor presente neto es una cifra monetaria que resulta de comparar el valor presente de los ingresos con el valor presente de los ingresos (Meza, 2017).

            p.text-dark.mt-4 El VPN es una alternativa de inversión utilizada frecuentemente para medir el desempeño de la inversión. Para su aplicación se tiene en cuenta la siguiente formula:

            .col-10.m-auto

                .text-center

                    img(src='assets/images/pages/tema-1/tema-40.png').img-fluid

                .row
                
                    .col-2

                    .col-10

                        p.text-dark.mt-4 #[strong.text-color-4 P:] Inversión inicial

                        p.text-dark.mt-4 #[strong.text-color-4 FNE:] Flujos netos de efectivo

                        p.text-dark.mt-4 #[strong.text-color-4 TO:] Tasa de oportunidad del inversionista.

            p.mt-4 #[strong Interpretación:]

            ul.list-style-none

                li.mt-5.mb-4.text-dark VPN < cero "0" = No es viable (pérdida)

                li.mt-5.mb-4.text-dark VPN > cero "0"  = Es viable (Ganancia)

                li.mt-5.mb-4.text-dark VPN = cero "0"  = Indiferente

            p.mt-4 #[strong Ejemplo:]

            p.mt-4.text-dark Se desea realizar una inversión de $ 12.000.000, durante 4 años, a una tasa de descuento del 15% anual. Los beneficios (flujos) recibidos por cada año son los siguientes:

            .text-center.mt-4

                img(src='assets/images/pages/tema-1/tema-41.svg').img-fluid

                p.text-dark.mt-4 Nota: Determinar la viabilidad del proyecto, aplicando la fórmula de VPN o VNA.

                img(src='assets/images/pages/tema-1/tema-42.png').img-fluid

                .row

                    .col-2

                    .col-10

                        h2.text-dark.mt-4.text-left #[strong VPN= -$ 1.483.635,35]

            p.text-dark.mt-4 De acuerdo con la información suministrada, se observa que el proyecto no es viable, teniendo en cuenta que se genera una perdida, sin recuperar el dinero invertido.

            p.text-dark.mt-4 Así mismo se puede obtener el valor presente neto, utilizando la fórmula financiera de Excel llamada VNA, la cual se presenta a continuación:

            .mt-4.text-center

                .col-7.m-auto

                    img(src='assets/images/pages/tema-1/tema-43.svg').img-fluid

                    p.text-dark.mt-4.text-left #[strong VNA(tasa;valor1;valor2;…)], teniendo en cuenta que:

                    p.text-dark.mt-4.text-left #[strong.text-color-4 Tasa:] es la tasa de descuento.

                    p.text-dark.mt-4.text-left #[strong.text-color-4 Valor1:] corresponde a los pagos e ingresos, los cuales se presentan entre 1 y 254.
    
        .p-1.bg-white

        .bg-azul-cielo.mt-5.p-5

            h3.mt-4 1.5.2 Tasa Interna de Retorno (TIR)

            p.text-dark.mt-4.mb-3 La tasa interna de retorno TIR, es un indicador de rentabilidad que se utiliza en su mayoría para evaluar proyectos de inversión. Su cálculo se basa en los flujos de caja esperados del proyecto en determinados tiempos.

            p.text-dark.mt-4.mb-3 Podemos definir, entonces, la TIR como aquella que es la máxima tasa de interés a la que un inversionista estaría dispuesto a pedir prestado dinero para financiar la totalidad del proyecto, pagando con los beneficios (flujos de efectivo) la totalidad del capital y de sus intereses, sin perder un solo centavo (Meza, 2017).

            p.text-dark.mt-4 La fórmula aplicable en este caso es:

            .text-center.mt-4

                img(src='assets/images/pages/tema-1/tema-44.png').img-fluid
            
            p.text-dark.mt-4 #[strong Interpretación:]

            ul.list-style-none

                li.mt-5.mb-4.text-dark Tasa de descuento > TIR = No es viable (pérdida)

                li.mt-5.mb-4.text-dark Tasa de descuento < TIR = Es viable (Ganancia)

                li.mt-5.mb-4.text-dark Tasa de descuento = TIR = Indiferente

            p.text-dark.mt-5 #[strong Ejemplo:]

            p.text-dark.mt-4 Iván Méndez desea realizar una inversión de $20.000.000, el proyecto le ofrece los siguientes beneficios durante 6 años, de igual forma genera los presentes

            .text-center.mt-4

                img(src='assets/images/pages/tema-1/tema-45.png').img-fluid

            p.text-dark.mt-4 Para hallar el Valor Presente Neto (VPN o VNA) y la Tasa Interna de Retorno (TIR) se realizará a través de Microsoft Excel, para ello es importante relacionar la información con el fin de desarrollar las fórmulas básicas:

            .mt-4.text-center

                .col-7.m-auto

                    img(src='assets/images/pages/tema-1/tema-46.svg').img-fluid

                    p.text-dark.mt-4.text-left #[strong VNA(tasa;valor1;valor2;…)], teniendo en cuenta que:

                    p.text-dark.mt-4.text-left #[strong.text-color-4 Tasa:] es la tasa de descuento.

                    p.text-dark.mt-4.text-left #[strong.text-color-4 Valor1:] corresponde a los pagos e ingresos, los cuales se presentan entre 1 y 254.

                    img(src='assets/images/pages/tema-1/tema-47.svg').img-fluid

                    p.text-dark.mt-4.text-left #[strong TIR (valores;estimar)], teniendo en cuenta que:

                    p.text-dark.mt-4.text-left #[strong.text-color-4 Valores:] corresponde a los números que se desea calcular la TIR.

                    p.text-dark.mt-4.text-left #[strong.text-color-4 Valor1:] es el número que el usuario estima se aproximará a la TIR.

                    p.text-dark.mt-5 #[strong Respuesta:]

                    img(src='assets/images/pages/tema-1/tema-48.png').img-fluid

            p.text-dark.mt-4 De acuerdo con lo anterior, se observa que el proyecto es viable, teniendo en cuenta que se recupera la inversión, además de generar una ganancia.  La TIR (184%) es mayor que la tasa de descuento (14%).

            p.text-dark.mt-4 Para ampliar esta información, usted deberá ingresar a la biblioteca del Servicio Nacional de Aprendizaje (SENA), donde encuentra libros de apoyo.  A continuación, se relaciona el enlace sugerido para fortalecer la temática propuesta:

            .text-center.mt-4.mb-5

                .col-10.m-auto.rounded.shadow-sm.p-5.bg_curuva_gradient

                    .row

                        .col-3

                            h1.text-center.text-color-1.mt-3 Sitio #[br] Web
                        
                        .col-6

                            p.text-dark.text-left.mb-3 #[strong Herramientas financieras y valoración de activos y pasivos financieros bajo NIIF]

                            p.text-dark.text-left #[a(href="https://elibro-net.bdigital.sena.edu.co/es/ereader/senavirtual/130247?page=279") #[u https://elibro-net.bdigital.sena.edu.co/es/ereader/senavirtual/130247?page=279]]
                        
                        .col-3

                            img(src='assets/images/pages/tema-1/tema-25.svg').img-fluid