.container

    .header-ecored
        h1 1. Política Nacional en Seguridad Alimentaria y Nutricional (SAN)



    .card

        .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(width='560', height='315', src='https://www.youtube.com/embed/jKUX2t6hydo', frameborder='0', allow='accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture', allowfullscreen='')

        .card-body.p-5

            h2 1.1 Ejes

            p.mt-4 Para Colombia, en el documento CONPES 113, el concepto de Seguridad Alimentaria y Nutricional define los siguientes ejes y los cuales se clasifican: 

            p.text-center.my-5
                img(src="assets/images/pages/tema-1/ejes.svg")

  
            h2 1.2 Dimensiones de la política

            p.mt-4 Si una persona no cuenta con una alimentación suficiente, oportuna y adecuada pueden determinarse dos dimensiones establecidas desde el documento CONPES 113:

            p.mt-5 #[strong.text-color-1 a. Dimensión de los medios económicos:] las personas carecen de los recursos para obtener los niveles mínimos de alimentos necesarios para una alimentación suficiente.

            p.text-center.my-5
                img(src="assets/images/pages/tema-1/tema-12-a.svg")            

            p.mt-6 #[strong.text-color-1 b. Dimensión de calidad de vida y fines del bienestar:]  la persona no tiene o no dispone de los medios que les permita alimentarse de manera adecuada.

            p.text-center.my-5
                img(src="assets/images/pages/tema-1/tema-12-b.svg")                        